# ==========================================
# CORE LANGCHAIN
# ==========================================
langchain
langchain-core
langchain-community
langgraph

# ==========================================
# GROQ LLM
# ==========================================
langchain-groq
groq

# ==========================================
# TAVILY SEARCH TOOL
# ==========================================
langchain-tavily
tavily-python

# ==========================================
# WEB SCRAPING - BEAUTIFULSOUP
# ==========================================
beautifulsoup4
requests
httpx
lxml

# ==========================================
# ENVIRONMENT VARIABLES
# ==========================================
python-dotenv

# ==========================================
# DATA VALIDATION
# ==========================================
pydantic

# ==========================================
# TEXT PROCESSING
# ==========================================
langchain-text-splitters

# ==========================================
# UTILITIES & OBSERVABILITY
# ==========================================
rich
langsmith


fastapi
uvicorn[standard]